<?xml version="1.0" encoding="UTF-8"?>
	<configuration>
		<system.web>
			<customErrors mode="On">
			</customErrors>
			<compilation debug="true">
			</compilation>
		</system.web>
		<system.webServer>
			<rewrite>
				<rules>
					<rule name="admin" stopProcessing="true">
						<match url="^admin" />
						<action type="Rewrite" url="loader.php" />
					</rule>
				</rules>
			</rewrite>
		</system.webServer>
	</configuration>